* {
    box-sizing: border-box;
}

#gallery img {
    width: 25%;
    height: 500px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
}

body {
    margin: none;
    font-family: cursive;
    background-color: #1b1b1b;
}

.header {
    font-family: cursive;
    color:aliceblue;
    padding: 32px;
    text-align:center;
    background-image: url("seventh.jpg");
    border: 1px solid white;
}

h1 {
    font-weight: 800;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

@media (max-width: 800px) {
    #gallery img {width: 50%;}
}

@media (max-width: 600px) {
    #gallery img {width: 100%;}
}